<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Список марок</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Марка</th>
                    <th scope="col">Тип кузова</th>
                    <th scope="col">Литраж</th>
                    <th scope="col">Грузоподъемность</th>
                    <th scope="col">Вместимость</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="brand: ${brands}">
                    <td th:text="${brand.id}" />
                    <td th:text="${brand.brand}"/>
                    <td th:text="${brand.type}"/>
                    <td th:text="${brand.tankCapacity}"/>
                    <td th:text="${brand.liftingCapacity}"/>
                    <td th:text="${brand.capacity}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>