<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Управление парком</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container mt-2">
        <h3>Управление парком для [[${enterpriseName}]]</h3>

        <div class="mb-3 mt-3">
            <p><b>1. Зарегистрировать машину</b></p>
            <a style="padding-left: 20px;" th:href="@{/vehicle/create/?enterpriseId={enterpriseId}(enterpriseId=${enterpriseId}, enterpriseName=${enterpriseName})}">регистрация</a>
        </div>
        <div class="mb-3">
            <p><b>2. Посмотреть/изменить информацию о машине</b></p>
            <p style="padding-left: 20px;"><i>введите id машины</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
                <input type="number" class="form-control" id="vehicleId" name="vehicleId" style="width: 150px;" placeholder="id автомобиля" >
            </div>
<!--            <a id="vehicleLink" style="padding-left: 20px;" th:href="@{/vehicle/{id}/?enterpriseId={enterpriseId}}">изменить информацию о машине</a>-->
<!--            исходно такую штуку написал, но рабит и проще из-за скрипта-->
<!--            <a id="vehicleLink" style="padding-left: 20px;" th:href="@{/vehicle/{id}/?enterpriseId={enterpriseId}(id=${vehicleId}, enterpriseId=${enterpriseId})}">изменить информацию о машине</a>-->
<!--            для корректного возврата всё-таки пришлось и enterpriseName пихать-->
            <a id="vehicleLink" style="padding-left: 20px;" th:href="@{/vehicle/{id}/?enterpriseId={enterpriseId}&enterpriseName={enterpriseName}}">показать информацию</a>-->

            <script th:inline="javascript">
                /*<![CDATA[*/
                var vehicleIdInput = document.getElementById('vehicleId');
                var enterpriseId = /*[[${enterpriseId}]]*/ '';
                var enterpriseName = /*[[${enterpriseName}]]*/ '';
                var vehicleLink = document.getElementById('vehicleLink');

                vehicleLink.addEventListener('click', function(event) {
                    if (vehicleIdInput.value === '') {
                        event.preventDefault(); // Отменить действие по умолчанию при отсутствии значения
                        alert('Пожалуйста, введите номер машины');
                    } else {
                        var id = vehicleIdInput.value;
                        vehicleLink.href = '/vehicle/' + id + '/?enterpriseId=' + enterpriseId + '&enterpriseName=' + enterpriseName;
                    }
                });
                /*]]>*/
            </script>

            <!--            скрипт без контроля пустого поля, оно приведет к ошибке-->
            <!--            <script th:inline="javascript">-->
            <!--                /*<![CDATA[*/-->
            <!--                var vehicleIdInput = document.getElementById('vehicleId');-->
            <!--                var enterpriseId = /*[[${enterpriseId}]]*/ '';-->
            <!--                var enterpriseName = /*[[${enterpriseName}]]*/ '';-->
            <!--                var vehicleLink = document.getElementById('vehicleLink');-->

            <!--                vehicleIdInput.addEventListener('input', function() {-->
            <!--                    //var id = vehicleIdInput.value;-->
            <!--                    var id = vehicleIdInput.value.trim() !== '' ? vehicleIdInput.value : 'null';-->
            <!--                    vehicleLink.href = '/vehicle/' + id + '/?enterpriseId=' + enterpriseId + '&enterpriseName=' + enterpriseName;-->
            <!--                });-->
            <!--                /*]]>*/-->
            <!--            </script>-->


<!--            в случае более простой ссылки, скрипт попроще (но не забудь тогда в соотв методе VehicleController удалить из параметров @RequestParam("enterpriseId") int enterpriseId-->
<!--            <a id="vehicleLink" style="padding-left: 20px;" th:href="@{/vehicle/{id}(id=${vehicleId})}">изменить информацию о машине</a>-->
<!--            <script>-->
<!--                // Находим элементы по id-->
<!--                var vehicleIdInput = document.getElementById('vehicleId');-->
<!--                var vehicleLink = document.getElementById('vehicleLink');-->

<!--                // Добавляем обработчик события на изменение значения в input-->
<!--                vehicleIdInput.addEventListener('input', function() {-->
<!--                    // Обновляем href ссылки, подставляя значение из input-->
<!--                    vehicleLink.href = '/vehicle/' + vehicleIdInput.value;-->
<!--                });-->
<!--            </script>-->

        </div>

        <form class="mt-3" th:action="@{/report}" method="get" enctype="multipart/form-data">
            <input type="hidden" name="enterpriseId" th:value="${enterpriseId}">

        <div class="mb-3">
            <p><b>3. Сформировать отчет по машине</b></p>
            <p id="error-message" style="display: none; color: red;">Пожалуйста, заполните все обязательные поля.</p>
            <p style="padding-left: 20px;"><i>введите id машины</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
                <input type="number" class="form-control" id="vehicle_Id" name="vehicle_Id" style="width: 150px;" placeholder="id автомобиля" required>
            </div>
            <p style="padding-left: 20px;"><i>выберите тип отчета</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
<!--                <input type="number" class="form-control" id="vehicleId" name="vehicleId" style="width: 150px;" placeholder="id автомобиля" >-->
                <select class="form-select" id="report" name="report" style="width: 300px;" required>
                    <option value=""></option>
                    <option th:each="report : ${reports}" th:value="${report}" th:text="${report}"></option>
                </select>
            </div>
            <p style="padding-left: 20px;"><i>выберите начальную дату</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
                <input type="date" id="startDate" name="startDate" class="form-control" style="width: 150px;" required>
            </div>
            <p style="padding-left: 20px;"><i>выберите конечную дату</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
                <input type="date" id="endDate" name="endDate" class="form-control" style="width: 150px;" required>
            </div>
            <p style="padding-left: 20px;"><i>выберите отчетный интервал</i></p>
            <div style="padding-left: 20px; margin-bottom: 14px;" >
                <select class="form-select" id="reportPeriodUnit" name="reportPeriodUnit" style="width: 150px;" required>
                    <option value=""></option>
                    <option th:each="reportPeriodUnit : ${reportPeriodUnits}" th:value="${reportPeriodUnit}" th:text="${reportPeriodUnit.text}"></option>
                </select>
            </div>
        </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6"><button class="btn btn-primary w-75" type="submit">Сформировать отчет</button></div>
                        <div class="col-6"><a class="btn btn-danger w-75" th:href="@{/enterprise}">Назад</a></div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </form>

    </div>
</div>
</body>
</html>
